body {
  margin: 0;
  background-color: #d4d4ff;
  color: #7a76a1;
  font-family: 'Pirates Writers', sans-serif;
  text-align: center;
  font-size: 3em;
}

a {
  color: #7a76a1;
}

a:hover {
  background-color: #7a76c1;
  color: #f2f2f2;
}

strong {
  font-size: 3em;
}