body {
  margin: 0;
  background-color: #d2d2ff;
  color: #7a76c1;
}

canvas {
  border: 1px solid red;
}

p {
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
}

a {
  color: #7a76c1;
}

a:hover {
  background-color: #7a76c1;
  color: #f2f2f2;
}