@font-face {
    font-family: 'Pirates Writers';
    src: url('../fonts/PiratesWriters.ttf');
}

body {
  margin: 0;
  background-color: #9cf;
  color: #047;
  font-family: 'Pirates Writers';
  text-align: center;
  font-size: 3em;
}

a {
  color: #047;
}

a:hover {
  background-color: #047;
  color: #9cf;
}

strong {
  font-size: 3em;
}